@model Projeto.Web.RichTextEditor.Models.RichTextEditorViewModel

@{
    ViewBag.Title = "ASP.NET MVC5: Rich Text Editor Plugin";
}


<br />

<div class="row">

            @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()


                    <div class="form-group">
                        <div id="editor" class="col-sm-12 col-md-12">
                            @Html.TextAreaFor(m => m.Message,
                             new
                             {
                                 rows = "20",
                                 style = "resize:none;width:400px; margin:auto;",
                                 placeholder = Html.DisplayNameFor(m => m.Message),
                                 @class = "form-control input-lg textarea-editor"
                             })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>

               
            }

</div>


